#########################
#   Rust build output   #
#########################

target/
**/target/
# Cargo adds this automatically
/target

#########################
#     Cargo files       #
#########################

.cargo/
Cargo.lock

#########################
# Rust compiler artifacts
#########################

*.rs.bk
*.rlib
*.d

#########################
#   Input files (global)
#########################

inputs/
**/inputs/
/inputs

#########################
#     C# / .NET stuff   #
#########################

bin/
obj/
*.user
*.suo
*.csproj.user
*.vs/
*.dll
*.exe
.sln

#########################
#     IDE/editor files  #
#########################

.idea/
.vscode/
*.swp
*~
.DS_Store

#########################
#   macOS specific      #
#########################

.AppleDouble
.LSOverride